* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    font-size: 16px;
    transition: all 1s ease;
}

body {
    min-height: 100dvh;
    background-color:  rgb(102, 102, 102);
    display: flex;
    align-items: end;

}


.login {
    height: 100dvh;
    
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login--form {
    box-shadow: 0px 0px 100px black;
    width: 400px;
    height: 300px;
    background-color: rgb(53, 54, 54);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-radius: 40px;
    margin: 20px;
}

.login--form h1 {
    font-size: 3rem;
    color: rgb(131, 130, 130);
    text-shadow: 0px 0px 50px rgb(115, 109, 173);
    transition: all 1s ease;
}
.login--form h1:hover {
    color: white;
}

.login--form input {
    background-color: darkgray;
    color: rgb(31, 31, 31);
    box-shadow: 0px 0px 50px rgb(115, 109, 173);
    width: 75%;
    padding-left: 10px;
    height: 35px;
    border-radius: 10px;
    outline: none;
    border: none;
    transition: all 1s ease;
}

.login--form input:focus {
    background-color: white;
}

.login--form button{
    margin-bottom: 40px;
    width: 75%;
    height: 35px;
    border-radius: 10px;
    border: none;
    color: beige;
    cursor: pointer;
    background-color: rgba(7, 87, 124, 0.541);
    box-shadow: 0px 0px 50px rgb(115, 109, 173);
    transition: background-color 1s ease;
}
.login--form button:hover {
    background-color: rgba(7, 176, 255, 0.541);
}

#status {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: rgb(36, 161, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: white;
    border-radius: 0px 5px 5px 5px;
    height: 40px;
    transition: all 0.3s ease;
    opacity: 0.85;
}

#status:hover {
    transform: scale(1.05);
}

#status {
    font-weight: bold;
    font-family: sans-serif;
    animation: l1 1s linear infinite alternate;
  }
  @keyframes l1 {to{opacity: 0}}

.container {
    
    background-color: rgb(102, 102, 102);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}

#dhistory {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease;
}

#dhistory:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.10);
}

#dhistory:active {
    animation: tocima 0.2s linear alternate;
}

@keyframes tocima{
    to{
        top: -0
    }
}

#messages {
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    max-width: 720px;
    width: 100%;
    min-height: 100dvh;
    overflow-y: auto;
    gap: 15px;
}

#mensagem, #msdozoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    flex-wrap: wrap;
    background-color: rgb(49, 48, 48);
    color: white;
    border-radius: 20px 20px 0px 20px;
    padding: 30px;
    max-width: 75%;
    width: auto;
    height: auto;
    margin-right: 15px;

}

#msdozoto {
    display: flex;  /* Certifique-se que #msdozoto é flex também */
    flex-direction: column; /* Mantém a direção em coluna */
    align-self: flex-start;
    align-items: flex-start; /* Faz o conteúdo alinhar à esquerda */
    border-radius: 0px 20px 20px 20px;
    margin-right: 0px;
    margin-left: 15px;
    max-width: 50%;
    padding: 20px;
}

#msdozoto h6 {
    align-self: flex-start; /* Alinha o h6 ao topo e à esquerda */
    margin-bottom: 10px; /* Adiciona um espaço inferior, se necessário */
    font-size: 1rem;
}

#msdozoto p {
    flex-wrap: wrap;
    width: 100%;
    word-wrap: break-word;
}
#mensagem p, #msdozoto p {
    justify-content: end;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word; 
}

#mensagem:last-of-type{
    margin-bottom: 125px;
}
#msdozoto:last-of-type{
    margin-bottom: 125px;
}

#sm {
    position: fixed;
    bottom: 15px;
    border-radius: 40px;
    width: 95%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgb(49, 48, 48);
    box-shadow: 0px 0px 10px black;

}

#sm form {
    width: 100%;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sm input {
    flex: 1;
    padding: 15px;
    text-align: left;
    outline: none;
    border: none;
    border-radius: 40px;
    background-color:  rgb(85, 85, 85);
    color: white;
    transition: all 1s ease;
}

#sm input:focus {
    outline: 2px solid  rgb(71, 71, 71);
}

#sm input:active {
    outline: 2px solid rgb(6, 110, 158);
}


#sm button {
    background-color: dimgray;
    padding: 15px;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
    border-radius: 50%;
    font-size: 0.85rem;
    user-select: none;
    transition: all 0.2s ease;
    outline: none;
}

#sm button:hover {
    transform: scale(1.05);
}
#sm button:focus {
    outline: 2px solid rgb(6, 110, 158);
}



#sm button:active {
    background-color: rgb(75, 75, 75);
}